<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008775514502-brcv1tibg4l9fto05neuadeihv6vlbpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008775514502-brcv1tibg4l9fto05neuadeihv6vlbpj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1008775514502-958dml7vt93qgv0rm2d73ea2jr0kq2qe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDAoNkQGTVnYHP0BeSO8VkkiyZjV_UcE2w</string>
	<key>GCM_SENDER_ID</key>
	<string>1008775514502</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCalculator</string>
	<key>PROJECT_ID</key>
	<string>result-88513</string>
	<key>STORAGE_BUCKET</key>
	<string>result-88513.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008775514502:ios:cb5367335b517235d30407</string>
</dict>
</plist>